.div_parrafoProducto {
  display: flex;
  flex-direction: column;
  height: 30rem;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #d281da; }
  .div_parrafoProducto:hover {
    border: solid 2px #d1cdcd; }
  .div_parrafoProducto p {
    margin: 1rem; }
  .div_parrafoProducto p.h1:hover {
    transition: all 0.3s linear;
    color: #413d3d;
    text-shadow: 0 0 10px white, 0 0 10px, 0 0 20px; }

.div_parrafoProducto2 {
  background-color: #f6f873; }

.imgReceta {
  width: 20rem;
  height: 20rem; }

.contenido__R_1_bgnd {
  background-color: #F2E8C6;
  padding: 10px;
  border: solid 2px white; }

.contenido__R_2_bgnd {
  background-color: #F4806D;
  border: solid 2px white; }

.recetaContenido:hover {
  border: solid 2px #d1cdcd; }

header a img {
  height: 40px;
  width: 60px; }

header .h6 {
  text-align: center; }

main img {
  opacity: 90%; }
  main img:hover {
    opacity: 100%; }

main .img_inicio {
  height: 20rem;
  width: 50rem;
  margin-top: 1rem;
  animation-delay: 1s;
  opacity: 100%; }

main .contenido1__p {
  display: flex;
  flex-direction: column;
  height: 30rem;
  background-color: #C1F4C5;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center; }
  main .contenido1__p:hover {
    border: solid 2px #d1cdcd; }
  main .contenido1__p p {
    margin: 1rem; }
  main .contenido1__p p.h1:hover {
    transition: all 0.3s linear;
    color: #413d3d;
    text-shadow: 0 0 10px white, 0 0 10px, 0 0 20px; }
  main .contenido1__p button {
    background-color: #5d9162;
    color: white; }

main .contenido2_p {
  background-color: #3a8f43; }
  main .contenido2_p p.h1 {
    color: white;
    text-emphasis: bold; }
  main .contenido2_p p.lead {
    color: white; }

footer .div__logomaywa {
  height: auto;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block; }

footer .logoMaywa_footer, footer .logoMaywa {
  height: 3rem;
  margin: none; }

footer .logoMaywa {
  display: inline-block;
  margin: 10px;
  margin-left: 2rem; }

footer .div_icon {
  margin: 0%;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

footer .icon {
  height: 20px;
  margin-left: 10px; }

.imgN {
  height: 15rem;
  width: 15rem; }
