*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    width: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 4rem 96rem 4rem;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.imginiR{
    width: 10rem;
}

/* Contenido principal */
.contenidoRecetas{
    width: 100%;
    height: 96rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

/* Imagen de inicio */
.div_imgRecetas{
    width: 100%;
    border-bottom: 2px #f0efef;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
}

.div_imgRecetas img{
    position: relative;
    width: 80%;
    height: 13rem;
}

/* Recetas */
.contenido__R{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    height: 50rem;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

/* Titulos de las ceretas */
.contenido__R h2{
    text-align: center;
    padding: 10px;
}

/* Parrafo introductorio de las recetas */
.r_intro{
    text-align: justify;
    width: 90%;
    top: 1rem;
}

/* Contenedor de los ingredientes
y de la imagen de la recta */
.r_IngImg{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
}

/* Lista de ingredientes */
.r_Ingredientes{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

/* Subtitulo Ingredientes */
.r_subtIng{
    position: relative;
    left: -5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.r_IngImg ul{
    position: relative;
    bottom: 1rem;
    text-indent: 1rem;
}

.r_IngImg ul li{
    margin-top: 0.5rem;
}

/* Imagen de la receta */
.r_IngImg img{
    width: 15rem;
    height: 15rem;
}

/* Contenedor de la preparacion */
.div_preparacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Preparacion */
.r_prepTit{
    display: block;
    position: relative;
    left: 2rem;
}

/* Parrafo de la preparacion */
.r_prep{
    display: block;
    margin: 0.5rem;
}

.contenido__R_1_bgnd{
    background-color: #F2E8C6;
    padding: 10px;
}

.hr{
    width: 90%;
    border-top: 2px solid #f0efef;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.contenido__R_2_bgnd{
    background-color: #F4806D;
    padding: 0.5rem;
}

@media screen and (max-width:320px) {
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 5rem 128rem 5rem;
    }

    .contenido__R{
        height: 120rem;
    }
    .r_IngImg{
        align-items: center;
    }

    .r_subtIng{
        sposition: relative;
        left: -1rem;
        
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
 
    /* Imagen de la receta */
    .r_IngImg img{
        width: 10rem;
        height: 10rem;
    }

    .r_prepTit{
        left: 0.2rem;
    }
}