*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: grid;
    width: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 4rem 43.9rem 4rem;
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.contenidoProd{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "img1 img1"
    "p1 p1"
    "p2 p2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14rem 15rem 15rem;
}

#imgp1{
    grid-area: img1;
}
#p1{
    grid-area: p1;
}
#p2{
    grid-area: p2;
}

.p1__p{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 45%;
    background-color: #d281da;
    margin: 0rem;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
}

/*             EMPIEZA
 __  __  ____  ____ _____ _      ______ 
|  \/  |/ __ \|  _ \_   _| |    |  ____|
| \  / | |  | | |_) || | | |    | |__   
| |\/| | |  | |  _ < | | | |    |  __|  
| |  | | |__| | |_) || |_| |____| |____ 
|_|  |_|\____/|____/_____|______|______|
  */   

  
@media screen and (max-width:320px) {
    body{
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 5rem 51rem 5rem;
    }

    .contenidoProd{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
        top: 0%;
        left: 0%;
    }

    .contenido__1{
        height: 21rem;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
    }

    .imgp1{

        height: 10rem;
        width: 10rem;
        margin-left: 0px;
        position: relative;
        margin: 0%;
        left: 23%;
        
    }
    
    .p1__p{
        display: flex;
        flex-direction: column;
        height: 45%;
        width: auto;
        background-color: #f7db5e;
        margin: 0rem;
        text-align: center;
        justify-content: space-evenly;
        align-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}